* { /* universal reset*/
  margin: 0; /* removes extra space outside*/
  padding: 0; /*removes default padding*/
  box-sizing: border-box;  /*includes padding and border in height and width defined*/;
}


.Admin-Dashboard {
    display: grid;
    grid-template: 1fr 1fr 3fr / 1fr 4fr;
    height: 100vh;

}


.Sidebar-content {
   padding: 20px;
    display: grid;
    background-color: rgb(26, 117, 255);
    grid-row: 1 / 4;
    justify-content: start;
    color: white;
    grid-auto-rows: min-content; /*size each row enough to fit its content*/
    gap: 30px;
}

.Sidebar-body-1 {
    display: grid;
    gap: 10px;
}

.Sidebar-body-2 {
    display: grid;
    gap: 10px;
}

.menu-item {
    width: 50px;
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    column-gap: 30px;
    font-size: 20px;
}

.Main-content {
    background-color: rgb(140, 140, 140);
    grid-row: 2 / 4;
}


svg{
    fill:white;
    height: 20px;
}
